# 1. Load Libraries

In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import RandomForestRegressor

import matplotlib.pyplot as plt
# Magic word for producing visualizations in notebook
%matplotlib inline

In [2]:
# Load in listings data.
listings_df = pd.read_csv('listings.csv',sep=',')

In [3]:
drop_columns=['host_listings_count','calculated_host_listings_count','host_neighbourhood',
'neighbourhood','neighbourhood_cleansed','host_since','first_review','last_review','scrape_id',
 'last_scraped','experiences_offered','market','country_code', 'country', 'has_availability',
'calendar_last_scraped','requires_license','license','jurisdiction_names','listing_url',
 'thumbnail_url','medium_url','picture_url','xl_picture_url','host_url','host_thumbnail_url',
 'host_picture_url','host_id', 'host_name','host_location','host_about',
'host_response_time','host_acceptance_rate','host_verifications',
'street','city','state','smart_location','id','name', 'summary', 'space', 
'description', 'neighborhood_overview','notes', 'transit','latitude','longitude']
listings_df.drop(drop_columns, axis=1, inplace=True)
listings_df.shape

(3818, 44)

In [4]:
# The columns information of listings data
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 44 columns):
host_response_rate                  3295 non-null object
host_is_superhost                   3816 non-null object
host_total_listings_count           3816 non-null float64
host_has_profile_pic                3816 non-null object
host_identity_verified              3816 non-null object
neighbourhood_group_cleansed        3818 non-null object
zipcode                             3811 non-null object
is_location_exact                   3818 non-null object
property_type                       3817 non-null object
room_type                           3818 non-null object
accommodates                        3818 non-null int64
bathrooms                           3802 non-null float64
bedrooms                            3812 non-null float64
beds                                3817 non-null float64
bed_type                            3818 non-null object
amenities                           3818 non-null object
square_feet                         97 non-null float64
price                               3818 non-null object
weekly_price                        2009 non-null object
monthly_price                       1517 non-null object
security_deposit                    1866 non-null object
cleaning_fee                        2788 non-null object
guests_included                     3818 non-null int64
extra_people                        3818 non-null object
minimum_nights                      3818 non-null int64
maximum_nights                      3818 non-null int64
calendar_updated                    3818 non-null object
availability_30                     3818 non-null int64
availability_60                     3818 non-null int64
availability_90                     3818 non-null int64
availability_365                    3818 non-null int64
number_of_reviews                   3818 non-null int64
review_scores_rating                3171 non-null float64
review_scores_accuracy              3160 non-null float64
review_scores_cleanliness           3165 non-null float64
review_scores_checkin               3160 non-null float64
review_scores_communication         3167 non-null float64
review_scores_location              3163 non-null float64
review_scores_value                 3162 non-null float64
instant_bookable                    3818 non-null object
cancellation_policy                 3818 non-null object
require_guest_profile_picture       3818 non-null object
require_guest_phone_verification    3818 non-null object
reviews_per_month                   3191 non-null float64
dtypes: float64(13), int64(9), object(22)
memory usage: 1.3+ MB

# 2. Clean and Analyze

## 2.1. Handle Inconsistent Data

In [5]:
# Change the type of price features to float
price_cols=['price','weekly_price','monthly_price','security_deposit','cleaning_fee','extra_people']
listings_df[price_cols]=listings_df[price_cols].apply(lambda x: pd.to_numeric(x.str.translate({ord(i): None for i in '$,'})))
listings_df[price_cols].head(n=2)

,price,weekly_price,monthly_price,security_deposit,cleaning_fee,extra_people
0,85.0,NaN,NaN,NaN,NaN,5.0
1,150.0,1000.0,3000.0,100.0,40.0,0.0

In [6]:
listings_df[price_cols].head()

,price,weekly_price,monthly_price,security_deposit,cleaning_fee,extra_people
0,85.0,NaN,NaN,NaN,NaN,5.0
1,150.0,1000.0,3000.0,100.0,40.0,0.0
2,975.0,NaN,NaN,1000.0,300.0,25.0
3,100.0,650.0,2300.0,NaN,NaN,0.0
4,450.0,NaN,NaN,700.0,125.0,15.0

In [7]:
# Change ('99\n98122') to '98122'
listings_df.loc[listings_df['zipcode']=='99\n98122', 'zipcode'] = '98122'

In [8]:
listings_df['zipcode']

0       98119
1       98119
2       98119
3       98119
4       98119
        ...
3813    98107
3814    98102
3815    98178
3816    98112
3817    98109
Name: zipcode, Length: 3818, dtype: object

## 2.2. Handle Missing Data

In [9]:
# Impute categorical variables with the most frequent,
# because this method is better for replace null values of categorical variables 
imp_obj= SimpleImputer(missing_values=np.nan, strategy='most_frequent')
obj_cols = listings_df.select_dtypes(include=['object']).columns
listings_df[obj_cols]= pd.DataFrame(data=imp_obj.fit_transform(listings_df[obj_cols]),
                                         index=listings_df[obj_cols].index, columns=obj_cols)
listings_df[obj_cols].isnull().sum()

host_response_rate                  0
host_is_superhost                   0
host_has_profile_pic                0
host_identity_verified              0
neighbourhood_group_cleansed        0
zipcode                             0
is_location_exact                   0
property_type                       0
room_type                           0
bed_type                            0
amenities                           0
calendar_updated                    0
instant_bookable                    0
cancellation_policy                 0
require_guest_profile_picture       0
require_guest_phone_verification    0
dtype: int64

In [10]:
# Impute numeric values with mean
# because this method has better result than imputation with median
imp_num= SimpleImputer(missing_values=np.nan, strategy='mean')
num_cols = listings_df.drop(columns=['price']).select_dtypes(include=['float64', 'int64']).columns
listings_df[num_cols]= pd.DataFrame(data=imp_num.fit_transform(listings_df[num_cols]),
                                         index=listings_df[num_cols].index, columns=num_cols)
listings_df[num_cols].isnull().sum().sum()

0

## 2.3. Encode Categorical Features

In [11]:
# Dummy the categorical variables
cat_vars = ['host_response_rate', 'host_is_superhost','host_has_profile_pic', 'host_identity_verified',
            'neighbourhood_group_cleansed', 'zipcode', 'is_location_exact','property_type', 'room_type',
            'bed_type','calendar_updated', 'instant_bookable', 'cancellation_policy',
            'require_guest_profile_picture', 'require_guest_phone_verification']

for var in  cat_vars:
    listings_df = pd.concat([listings_df.drop(var, axis=1), 
                                    pd.get_dummies(listings_df[var], prefix=var, prefix_sep='_', drop_first=False)],
                                   axis=1)
listings_df.head()

,host_total_listings_count,accommodates,bathrooms,bedrooms,beds,amenities,square_feet,price,weekly_price,monthly_price,...,calendar_updated_yesterday,instant_bookable_f,instant_bookable_t,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict,require_guest_profile_picture_f,require_guest_profile_picture_t,require_guest_phone_verification_f,require_guest_phone_verification_t
0,3.0,4.0,1.0,1.0,1.0,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",854.618557,85.0,788.481832,2613.33619,...,0,1,0,0,1,0,1,0,1,0
1,6.0,4.0,1.0,1.0,1.0,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",854.618557,150.0,1000.000000,3000.00000,...,0,1,0,0,0,1,0,1,0,1
2,2.0,11.0,4.5,5.0,7.0,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",854.618557,975.0,788.481832,2613.33619,...,0,1,0,0,0,1,1,0,1,0
3,1.0,3.0,1.0,0.0,2.0,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",854.618557,100.0,650.000000,2300.00000,...,0,1,0,1,0,0,1,0,1,0
4,2.0,6.0,2.0,3.0,3.0,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",854.618557,450.0,788.481832,2613.33619,...,0,1,0,0,0,1,1,0,1,0

In [12]:
# Remove unwanted characters from amenities feature and split it to rows, then conver them into array 
amenities = np.array(listings_df['amenities'].map(lambda a: a.strip('{}').replace('"', '').split(',')))
amenities

array([list(['TV', 'Cable TV', 'Internet', 'Wireless Internet', 'Air Conditioning', 'Kitchen', 'Heating', 'Family/Kid Friendly', 'Washer', 'Dryer']),
       list(['TV', 'Internet', 'Wireless Internet', 'Kitchen', 'Free Parking on Premises', 'Buzzer/Wireless Intercom', 'Heating', 'Family/Kid Friendly', 'Washer', 'Dryer', 'Smoke Detector', 'Carbon Monoxide Detector', 'First Aid Kit', 'Safety Card', 'Fire Extinguisher', 'Essentials']),
       list(['TV', 'Cable TV', 'Internet', 'Wireless Internet', 'Air Conditioning', 'Kitchen', 'Free Parking on Premises', 'Pets Allowed', 'Pets live on this property', 'Dog(s)', 'Cat(s)', 'Hot Tub', 'Indoor Fireplace', 'Heating', 'Family/Kid Friendly', 'Washer', 'Dryer', 'Smoke Detector', 'Carbon Monoxide Detector', 'Essentials', 'Shampoo']),
       ...,
       list(['Cable TV', 'Wireless Internet', 'Kitchen', 'Free Parking on Premises', 'Breakfast', 'Pets live on this property', 'Dog(s)', 'Cat(s)', 'Heating', 'Washer', 'Dryer', 'Smoke Detector', 'First Aid Kit', 'Safety Card', 'Fire Extinguisher', 'Essentials', 'Hangers', 'Hair Dryer', 'Iron', 'Laptop Friendly Workspace']),
       list(['TV', 'Wireless Internet', 'Kitchen', 'Free Parking on Premises', 'Elevator in Building', 'Heating', 'Smoke Detector', 'Essentials', 'Hangers', 'Hair Dryer', 'Laptop Friendly Workspace']),
       list(['TV', 'Cable TV', 'Internet', 'Wireless Internet', 'Kitchen', 'Free Parking on Premises', 'Pets live on this property', 'Dog(s)', 'Elevator in Building', 'Hot Tub', 'Indoor Fireplace', 'Buzzer/Wireless Intercom', 'Heating', 'Family/Kid Friendly', 'Washer', 'Dryer', 'Smoke Detector', 'Essentials', 'Shampoo', 'Hangers', 'Iron', 'Laptop Friendly Workspace'])],
      dtype=object)

In [13]:
# Get all unique values from amenities, then conver them into array
amenities_groups = np.unique(np.concatenate(amenities))[1:]
amenities_groups

array(['24-Hour Check-in', 'Air Conditioning', 'Breakfast',
       'Buzzer/Wireless Intercom', 'Cable TV', 'Carbon Monoxide Detector',
       'Cat(s)', 'Dog(s)', 'Doorman', 'Dryer', 'Elevator in Building',
       'Essentials', 'Family/Kid Friendly', 'Fire Extinguisher',
       'First Aid Kit', 'Free Parking on Premises', 'Gym', 'Hair Dryer',
       'Hangers', 'Heating', 'Hot Tub', 'Indoor Fireplace', 'Internet',
       'Iron', 'Kitchen', 'Laptop Friendly Workspace',
       'Lock on Bedroom Door', 'Other pet(s)', 'Pets Allowed',
       'Pets live on this property', 'Pool', 'Safety Card', 'Shampoo',
       'Smoke Detector', 'Smoking Allowed', 'Suitable for Events', 'TV',
       'Washer', 'Washer / Dryer', 'Wheelchair Accessible',
       'Wireless Internet'], dtype='<U26')

In [14]:
def convert_amenties_to_boolean(amenities_groups, amenities):
    
    '''
    INPUT
    amenities_groups - an array containing all unique values of amenities
    amenities - an array containing all values of amenities
    
    OUTPUT
    amenties_boolean - an array containing boolean values of amenities
    
    Perform to obtain the correct X and y objects
    This function cleans df using the following steps to produce X and y:
    1. Create an empty array with all zeros
    2. substitute with 1 if value of amenities_groups is found in amenities rows and vice versa
    '''
    amenties_boolean = np.empty((amenities.shape[0], amenities_groups.shape[0]))
    for i, row in enumerate(amenities):
        amns = amenities_groups.copy()
        for j, amn in enumerate(amns):
            if amn in amenities[i]:
                amenties_boolean[i,j] = True
            else:
                amenties_boolean[i,j] = False
    return amenties_boolean

#Use the function to convert values to 0 or 1
amenities= convert_amenties_to_boolean(amenities_groups, amenities)
amenities

array([[0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [15]:
# Reset index of the the dataframe
listings_df = listings_df.reset_index(drop=True)

In [16]:
# Add amenities to the dataframe
listings_df = pd.concat([listings_df.drop('amenities', axis=1), 
                              pd.DataFrame(data=amenities, columns=amenities_groups)], axis=1)

In [17]:
# Change the type of columns with uint8 to float, to apply feature scaling without any future warning 
uint8_cols = listings_df.select_dtypes(include=['uint8']).columns
listings_df[uint8_cols]=listings_df[uint8_cols].astype('float64')

# 3. Model
## 3.1. Split data into features and target value

In [18]:
# Create X variable with all features without price
X= listings_df.drop(columns=['price'])

# Create Y variable with only price feature
y= listings_df['price']

## 3.2. Apply features Scaling

In [19]:
# Apply feature scaling to the listings data.
st_scaler= StandardScaler()
X= pd.DataFrame(data=st_scaler.fit_transform(X), index=X.index, columns=X.columns)

## 3.3. Split data into training and testing

In [20]:
# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state=42)

## 3.4. Train model

In [21]:
def get_RMSE(model):
        
    '''
    INPUT
    model - training model
    
    OUTPUT
    model_rmse - RMSE value of the given model
    
    Perform to obtain RMSE value
    This function cleans df using the following steps to produce X and y:
    1. predict value of training data
    2. calculate MSE 
    3. Calculate RMSE
    '''
    y_predict = model.predict(X_train)
    model_mse = mean_squared_error(y_train, y_predict)
    model_rmse = np.sqrt(model_mse)
    
    return model_rmse

## 3.4.1 Linear Regression

In [22]:
# Create linear regression model
lin_reg = LinearRegression(normalize=True)

# Fit the model
lin_reg.fit(X_train, y_train)

# Get RMSE value
lin_reg_rmse= get_RMSE(lin_reg)

print('RMSE: {:.4}'.format(lin_reg_rmse))

RMSE: 7.547e+13

## 3.4.2 Lasso Regularization

In [23]:

# Create linear regression model with lasso regularization.
lasso_reg = Lasso()

# Fit the model
lasso_reg.fit(X_train, y_train)

# Get RMSE value
lasso_reg_rmse= get_RMSE(lasso_reg)

print('RMSE: {:.4}'.format(lasso_reg_rmse))

RMSE: 49.11

## 3.4.3 RandomForest Regression

In [24]:
# Create RandomForest Regression model
forest_reg = RandomForestRegressor(n_estimators=10)

# Fit the model
forest_reg.fit(X_train, y_train)

# Get RMSE value
forest_reg_rmse= get_RMSE(forest_reg)

print('RMSE: {:.4}'.format(forest_reg_rmse))

RMSE: 25.65

#### The best model is RandomForest Regression, because it has the lowest value of RMSE

## 3.5. Improve chosen model

In [ ]:
# Set GridSearchCV parameters 
parameters = {
    'bootstrap': [True, False],
    'n_estimators': [50, 100, 200],
    'max_features': ['auto', 'sqrt'],
    'max_depth' : [10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
    
}

# Create GridSearchCV
forest_reg_cv= GridSearchCV(forest_reg, parameters,cv=3)

# Fit model
forest_reg_cv.fit(X_train, y_train)

In [ ]:
# Get best parameter
forest_reg_cv.best_estimator_

In [ ]:
# Create RandomForest Regression model with best parameter
forest_reg_imp = forest_reg_cv.best_estimator_
y_predict_imp = forest_reg_imp.predict(X_test)

# Get RMSE value
forest_reg_mse_imp = mean_squared_error(y_test, y_predict_imp)
forest_reg_rmse_imp = np.sqrt(forest_reg_mse_imp)

print('RMSE: {:.4}'.format(forest_reg_rmse_imp))

# 4. Visualize

In [ ]:
# Get feature_importances of model
feature_importances = forest_reg_cv.best_estimator_.feature_importances_

# Sort feature importance and get the first 20 features
feature_importances_df= pd.DataFrame(data=feature_importances, index=X.columns) 
feature_importances_sorted=feature_importances_df[0].sort_values(ascending=False)
feature_importances_sorted_10=feature_importances_sorted[:10]
feature_importances_sorted_10

In [ ]:
# Plot The most important features in predicting price
plt.figure(figsize=(20,7))
plt.bar(feature_importances_sorted_10.index,feature_importances_sorted_10)
plt.xticks(rotation=90)
plt.xlabel('Features')
plt.ylabel('Feature_importances')
plt.title('The most important features in predicting price')
plt.show()